<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="/styles/common1.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/main.css"/>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="index.html">首页</a></li>
                <li><a href="#" target="_blank">网站首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="http://www.sucaihuo.com">管理员</a></li>
                <li><a href="http://www.sucaihuo.com">修改密码</a></li>
                <li><a href="http://www.sucaihuo.com">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="design.html"><i class="icon-font">&#xe008;</i>商品管理</a></li>
                       
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-font">&#xe018;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="system.html"><i class="icon-font">&#xe017;</i>系统设置</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe037;</i>清理缓存</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe046;</i>数据备份</a></li>
                        <li><a href="system.html"><i class="icon-font">&#xe045;</i>数据还原</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/goods/insert" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th width="120"><i class="require-red">*</i>一级分类：</th>
                                <td>
                                    <!-- 内容一旦改变就触发事件 -->
                                    <!-- 执行ajax获取数据放到catid2中 -->
                                    <select name="catid1" id="catid1" class="required">
                                        <option value="">请选择</option>
                                        <?php foreach($data as $v): ?>
                                        <option value="<?= $v['id']?>"><?=$v['cat_name']?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th width="120"><i class="require-red">*</i>二级分类：</th>
                                <td>
                                    <select name="catid2" id="catid2" class="required">
                                        <option value="">请选择</option>
                                       
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th width="120"><i class="require-red">*</i>三级分类：</th>
                                <td>
                                    <select name="catid3" id="catid3" class="required">
                                        <option value="">请选择</option>
                         
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>分类名称</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="" type="text">
                                </td>
                            </tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>
<script type="text/javascript" src="/js/jquery.min.js" ></script>
<script type="text/javascript" src="/js/common.js" ></script>
<script>


    // 当一级分类项被选中的时候，触发ajax
    $("select[name=catid1]").change(function(){

        // alert('aaaa');

        // 获取输入框里的id
        var id = $(this).val()
      

        // id值不能为空
        if(id != ""){
            $.ajax({
                type:"GET",
                url:"/goods/ajax_getCat?parent_id ="+id,
                dataType:"json",
                success:function(data)
                {
                    //   alert(id);
                    // console.log(data);
                    var str = '';
                    for(var i=0;i<data.length;i++)
                    {
                        str += '<option value='+data[i].id+'>'+data[i].cat_name+'</option>';
                        
                    }

                    // alert(str);

                    $('select[name=catid2]').html(str);
                    $('select[name=catid2]').trigger('change'); 
                }
            });
        }
    });
   

</script>